# predict whether the cusomer's reviews are positive/negative

In [2]:
#importing necessary libraries
import nltk

from nltk.corpus import stopwords
import string
import re
from nltk.tokenize import word_tokenize
from collections import Counter
from gensim.models import Word2Vec
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import pandas as pd

In [4]:
dataset=pd.read_csv("train.csv",encoding='utf-8',
                   header=0,sep=',')

In [5]:
dataset

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy
...,...,...,...,...,...
38927,id49253,We arrived late at night and walked in to a ch...,Edge,Desktop,happy
38928,id49254,The only positive impression is location and p...,InternetExplorer,Mobile,not happy
38929,id49255,Traveling with friends for shopping and a show...,Firefox,Mobile,not happy
38930,id49256,The experience was just ok. We paid extra for ...,Chrome,Desktop,not happy
38931,id49257,The Westin is a wonderfully restored grande da...,Mozilla,Desktop,happy

In [6]:
dataset.describe()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
count,38932,38932,38932,38932,38932
unique,38932,38932,11,3,2
top,id32991,Stayed at this hotel in early June while at a ...,Firefox,Desktop,happy
freq,1,1,7367,15026,26521

In [7]:
dataset['Is_Response'].value_counts()

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

In [8]:
dataset["Is_Response"] = dataset["Is_Response"].map({"happy": "positive", "not happy" : "negative"})
dataset.sample(3)

,User_ID,Description,Browser_Used,Device_Used,Is_Response
4534,id14860,I stayed here on a mixed business and pleasure...,Chrome,Tablet,positive
25840,id36166,We stayed here for - nights from the --th---th...,Mozilla,Tablet,positive
35184,id45510,We stayed here over a weekend to go to Sea Wor...,Firefox,Desktop,negative

In [9]:
dataset.drop(columns = ['User_ID', 'Browser_Used', 'Device_Used'], inplace = True)

In [ ]:
cleaned_text = []

for text in dataset.Description:
    for i in range(len(dataset)):
     cleaned_text.append( nltk.sent_tokenize(dataset["Description"][i]))

In [ ]:
cleaned_text